@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Mulish', sans-serif, Arial, Helvetica, sans-serif;
}

.custom-gradient-border {
  position: relative;
  border-radius: 9999px; /* rounded-full */
  border: 3px solid transparent;
  background: white;
}

.custom-gradient-border::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 9999px;
  background: linear-gradient(to right, #F7880A 0%, #FFFFFF 50%, #1A8F3E 100%);
  z-index: -1;
}